<div id="bot">
	<script type="text/javascript" >
		FuncefBot.app({
			directLine: { secret: '4g5lG1rSarU.cwA.Xj0.-jqL0_DNMAHkeSWouHVsmJ8t5swAq1g0bf-68BiftgM'},
			user: { id: 'b62658fb-e384-4828-ba7c-59039ce1d207'},
			bot: { id: 'scQGZHKs8HY.cwA.CTM.vnUxszP6xu7OwnFZzjqmSedWg5aEvG6nLo7_I38Xj2Q'},
			resize: 'detect'
		}, 'bot', 'Precisando de ajuda?');		
	</script>
</div>